.display-4 {
  text-align: center;
  opacity: 1;
}

.jumbotron {
  background-image: url("../images/bball.jpg");
  background-size: cover;
  height: 600px;
}

.articleContainer {
  margin: 10px;
}

#save {
  float: right;
  width: 200px;
  margin: 10px;
  background-color: #e3f2fd;
  color: black;
}

.card-header {
  font-display: bold;
  font-size: 20px;
}

.card {
  margin: 10px;
}

.delete-article {
  margin: 10px;
  background-color: #e3f2fd;
}

.add-note {
  margin: 10px;
  background-color: #e3f2fd;
}
